<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Het_Terras.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Het_Terras.Properties.Settings.mysqlstr" connectionString="Server=192.168.1.59;Database=terras;Uid=root;Pwd=root;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Het_Terras.Properties.Settings>
            <setting name="user_role3" serializeAs="String">
                <value>3</value>
            </setting>
        </Het_Terras.Properties.Settings>
    </userSettings>
</configuration>